Repository MeteoSwiss/opendata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mchaamsler, @MeteoSwiss/data-stewards, @MeteoSwiss/groundbased-team, @MeteoSwiss/atmosphere-team, @MeteoSwiss/climate-team, @MeteoSwiss/radar-team, @MeteoSwiss/forecast-team

Disable dark mode
  docusaurus.config.js
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update index.mdx
  docs/a-data-groundbased/index.mdx
Owners: @MeteoSwiss/groundbased-team

Update index.mdx
  docs/b-data-atmosphere/index.mdx
Owners: @MeteoSwiss/atmosphere-team

Update docusaurus.config.js
  docusaurus.config.js
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update README.md
  README.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update docusaurus.config.js
  docusaurus.config.js
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update custom.css
  src/css/custom.css
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update docs
  docs/a-data-groundbased/a2-automatic-precipitation-stations.md
  docs/a-data-groundbased/a3-automatic-tower-stations.md
  docs/b-data-atmosphere/b1-radio-sounding.md
  docs/b-data-atmosphere/index.mdx
  docs/c-climate-data/c1-climate-stations_homogeneous.md
  docs/c-climate-data/c2-climate-percipitation-stations_homogeneous.md
  docs/c-climate-data/c3-ground-based-climate-data.md
  docs/c-climate-data/c4-satellite-based-climate-data.md
  docs/c-climate-data/c5-radar-based-climate-data.md
  docs/c-climate-data/c6-climate-normals.md
  docs/c-climate-data/c7-spatial-climate-normals.md
  docs/c-climate-data/c8-climate-scenarios.md
  docs/c-climate-data/index.mdx
Owners: @MeteoSwiss/groundbased-team, @MeteoSwiss/atmosphere-team, @MeteoSwiss/climate-team

Close <br> tags
  docs/c-climate-data/c3-ground-based-climate-data.md
  docs/c-climate-data/index.mdx
Owners: @MeteoSwiss/climate-team

Remove <<< from source
  docs/c-climate-data/c5-radar-based-climate-data.md
Owners: @MeteoSwiss/climate-team

Remove more <<<
  docs/c-climate-data/c4-satellite-based-climate-data.md
Owners: @MeteoSwiss/climate-team

Add more padding to title
  src/css/custom.css
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Change title of the main page
  docs/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update links from overview in section C
  docs/c-climate-data/c9-spatial-climate-scenarios.md
  docs/c-climate-data/index.mdx
Owners: @MeteoSwiss/climate-team

Add edit links
  docusaurus.config.js
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Set empty title for main page
  docs/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Add quotes in config
  docusaurus.config.js
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update edit config
  docusaurus.config.js
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Remove docs
  docusaurus.config.js
Owners: @mchaamsler, @MeteoSwiss/data-stewards

FIx config
  docusaurus.config.js
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Add radar data
  docs/d-radar-data/d1-precipitation-radar-products.md
  docs/d-radar-data/d2-reflectivity-based-radar-products.md
  docs/d-radar-data/d3-hail-radar-products.md
  docs/d-radar-data/d4-convection-radar-products.md
  docs/d-radar-data/d5-polar-3d-radar-products.md
  docs/d-radar-data/index.mdx
Owners: @MeteoSwiss/radar-team

Update radar docs
  docs/d-radar-data/d1-precipitation-radar-products.md
  docs/d-radar-data/index.mdx
Owners: @MeteoSwiss/radar-team

Add forecast data docs
  docs/e-forecast-data/e1-short-term-forecast-data.md
  docs/e-forecast-data/e2-e3-numerical-weather-forecasting-model.md
  docs/e-forecast-data/e4-local-forecast-data.md
  docs/e-forecast-data/index.mdx
  static/docs_img/IcosahedralGrid.png
  static/docs_img/VerticalLayers.png
Owners: @MeteoSwiss/forecast-team, @mchaamsler, @MeteoSwiss/data-stewards

Fix div
  docs/e-forecast-data/e2-e3-numerical-weather-forecasting-model.md
Owners: @MeteoSwiss/forecast-team

Update E index
  docs/e-forecast-data/index.mdx
Owners: @MeteoSwiss/forecast-team

FIx path to images
  docs/e-forecast-data/e2-e3-numerical-weather-forecasting-model.md
Owners: @MeteoSwiss/forecast-team

Fix the links
  docs/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Fix broken links
  docs/b-data-atmosphere/index.mdx
  docs/c-climate-data/c1-climate-stations_homogeneous.md
  docs/c-climate-data/c2-climate-percipitation-stations_homogeneous.md
  docs/c-climate-data/c4-satellite-based-climate-data.md
  docs/c-climate-data/c6-climate-normals.md
  docs/c-climate-data/c7-spatial-climate-normals.md
  docs/c-climate-data/c8-climate-scenarios.md
  docs/c-climate-data/c9-spatial-climate-scenarios.md
  docs/c-climate-data/index.mdx
  docs/d-radar-data/index.mdx
  docs/e-forecast-data/e1-short-term-forecast-data.md
  docs/e-forecast-data/e2-e3-numerical-weather-forecasting-model.md
  docs/e-forecast-data/e4-local-forecast-data.md
  docs/e-forecast-data/index.mdx
  docs/general/download.md
  i18n/de/docusaurus-plugin-content-docs/current/general/download.md
Owners: @MeteoSwiss/atmosphere-team, @MeteoSwiss/climate-team, @MeteoSwiss/radar-team, @MeteoSwiss/forecast-team, @mchaamsler, @MeteoSwiss/data-stewards

Fix image paths
  docs/e-forecast-data/e2-e3-numerical-weather-forecasting-model.md
Owners: @MeteoSwiss/forecast-team

Delete blog, fail on broken links
  blog/2024-12-17-first-blog-post.md
  blog/2024-12-19-translations.md
  blog/authors.yml
  blog/tags.yml
  docusaurus.config.js
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Fix anchor links
  docs/e-forecast-data/e2-e3-numerical-weather-forecasting-model.md
Owners: @MeteoSwiss/forecast-team

Fix broken link
  docs/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Fix links
  i18n/de/docusaurus-plugin-content-docs/current/a-data-groundbased/_category_.json
  i18n/de/docusaurus-plugin-content-docs/current/a-data-groundbased/index.mdx
  i18n/de/docusaurus-plugin-content-docs/current/b-data-atmosphere/_category_.json
  i18n/de/docusaurus-plugin-content-docs/current/b-data-atmosphere/index.mdx
  i18n/de/docusaurus-plugin-content-docs/current/general/index.mdx
Owners: @MeteoSwiss/groundbased-team, @MeteoSwiss/atmosphere-team, @mchaamsler, @MeteoSwiss/data-stewards

Fix broken link
  i18n/de/docusaurus-plugin-content-docs/current/general/index.mdx
  i18n/fr/docusaurus-plugin-content-docs/current/general/index.mdx
  i18n/it/docusaurus-plugin-content-docs/current/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update index.mdx
  i18n/fr/docusaurus-plugin-content-docs/current/b-data-atmosphere/index.mdx
Owners: @MeteoSwiss/atmosphere-team

Update _category_.json
  i18n/fr/docusaurus-plugin-content-docs/current/b-data-atmosphere/_category_.json
Owners: @MeteoSwiss/atmosphere-team

Add french and english titles
  i18n/de/docusaurus-plugin-content-docs/current/c-climate-data/_category_.json
  i18n/de/docusaurus-plugin-content-docs/current/c-climate-data/index.mdx
  i18n/de/docusaurus-plugin-content-docs/current/d-radar-data/_category_.json
  i18n/de/docusaurus-plugin-content-docs/current/d-radar-data/index.mdx
  i18n/de/docusaurus-plugin-content-docs/current/e-forecast-data/_category_.json
  i18n/de/docusaurus-plugin-content-docs/current/e-forecast-data/index.mdx
  i18n/fr/docusaurus-plugin-content-docs/current/a-data-groundbased/_category_.json
  i18n/fr/docusaurus-plugin-content-docs/current/a-data-groundbased/index.mdx
  i18n/fr/docusaurus-plugin-content-docs/current/c-climate-data/_category_.json
  i18n/fr/docusaurus-plugin-content-docs/current/c-climate-data/index.mdx
  i18n/fr/docusaurus-plugin-content-docs/current/d-radar-data/_category_.json
  i18n/fr/docusaurus-plugin-content-docs/current/d-radar-data/index.mdx
  i18n/fr/docusaurus-plugin-content-docs/current/e-forecast-data/_category_.json
  i18n/fr/docusaurus-plugin-content-docs/current/e-forecast-data/index.mdx
Owners: @MeteoSwiss/climate-team, @MeteoSwiss/radar-team, @MeteoSwiss/forecast-team, @MeteoSwiss/groundbased-team

Update index.mdx
  i18n/fr/docusaurus-plugin-content-docs/current/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update _category_.json
  i18n/fr/docusaurus-plugin-content-docs/current/general/_category_.json
Owners: @mchaamsler, @MeteoSwiss/data-stewards

IT Informazioni generali
  i18n/it/docusaurus-plugin-content-docs/current/general/_category_.json
  i18n/it/docusaurus-plugin-content-docs/current/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

.github/CODEOWNERS:

*                           @mchaamsler @MeteoSwiss/data-stewards
**/a-data-groundbased       @MeteoSwiss/groundbased-team
**/b-data-atmosphere        @MeteoSwiss/atmosphere-team
**/c-climate-data           @MeteoSwiss/climate-team
**/d-radar-data             @MeteoSwiss/radar-team
**/e-forecast-data          @MeteoSwiss/forecast-team
