Repository MeteoSwiss/opendata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mchaamsler, @MeteoSwiss/data-stewards, @MeteoSwiss/groundbased-team, @MeteoSwiss/atmosphere-team, @MeteoSwiss/climate-team, @MeteoSwiss/radar-team, @MeteoSwiss/forecast-team

Add warning admonition
  docs/b-data-atmosphere/b5-ozone-measurements-profiles.md
  docs/b-data-atmosphere/b6-sacram.md
  i18n/de/docusaurus-plugin-content-docs/current/b-data-atmosphere/b5-ozone-measurements-profiles.md
  i18n/fr/docusaurus-plugin-content-docs/current/b-data-atmosphere/b6-sacram.md
  i18n/fr/docusaurus-plugin-content-docs/current/d-radar-data/d5-polar-3d-radar-products.md
  i18n/it/docusaurus-plugin-content-docs/current/b-data-atmosphere/b6-sacram.md
Owners: @MeteoSwiss/atmosphere-team, @MeteoSwiss/radar-team

Update c1-climate-stations_homogeneous.md
  docs/c-climate-data/c1-climate-stations_homogeneous.md
Owners: @MeteoSwiss/climate-team

Update download.md
  docs/general/download.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update c2-climate-percipitation-stations_homogeneous.md
  docs/c-climate-data/c2-climate-percipitation-stations_homogeneous.md
Owners: @MeteoSwiss/climate-team

Update c2-climate-percipitation-stations_homogeneous.md
  i18n/de/docusaurus-plugin-content-docs/current/c-climate-data/c2-climate-percipitation-stations_homogeneous.md
Owners: @MeteoSwiss/climate-team

Update c2-climate-percipitation-stations_homogeneous.md
  i18n/fr/docusaurus-plugin-content-docs/current/c-climate-data/c2-climate-percipitation-stations_homogeneous.md
Owners: @MeteoSwiss/climate-team

Update c2-climate-percipitation-stations_homogeneous.md
  i18n/it/docusaurus-plugin-content-docs/current/c-climate-data/c2-climate-percipitation-stations_homogeneous.md
Owners: @MeteoSwiss/climate-team

Update c1-climate-stations_homogeneous.md
  i18n/de/docusaurus-plugin-content-docs/current/c-climate-data/c1-climate-stations_homogeneous.md
Owners: @MeteoSwiss/climate-team

Update c1-climate-stations_homogeneous.md
  i18n/fr/docusaurus-plugin-content-docs/current/c-climate-data/c1-climate-stations_homogeneous.md
Owners: @MeteoSwiss/climate-team

Update c1-climate-stations_homogeneous.md
  i18n/it/docusaurus-plugin-content-docs/current/c-climate-data/c1-climate-stations_homogeneous.md
Owners: @MeteoSwiss/climate-team

Update terms-of-use.md
  docs/general/terms-of-use.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update terms-of-use.md
  docs/general/terms-of-use.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update terms-of-use.md
  docs/general/terms-of-use.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update terms-of-use.md
  docs/general/terms-of-use.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update terms-of-use.md
  docs/general/terms-of-use.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update terms-of-use.md
  i18n/de/docusaurus-plugin-content-docs/current/general/terms-of-use.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update faq.md
  docs/general/faq.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update faq.md
  docs/general/faq.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update status.md
  docs/general/status.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update faq.md
  docs/general/faq.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update status.md
  docs/general/status.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update faq.md
  docs/general/faq.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update faq.md
  docs/general/faq.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update faq.md
  docs/general/faq.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update faq.md
  docs/general/faq.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update faq.md
  docs/general/faq.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update faq.md
  docs/general/faq.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update faq.md
  docs/general/faq.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update faq.md
  docs/general/faq.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update status.md
  docs/general/status.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update status.md
  docs/general/status.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update status.md
  docs/general/status.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update status.md
  docs/general/status.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update status.md
  docs/general/status.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update faq.md
  docs/general/faq.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update faq.md
  docs/general/faq.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update terms-of-use.md
  docs/general/terms-of-use.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update terms-of-use.md
  docs/general/terms-of-use.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update download.md
  docs/general/download.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update download.md
  docs/general/download.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

.github/CODEOWNERS:

*                           @mchaamsler @MeteoSwiss/data-stewards
**/a-data-groundbased       @MeteoSwiss/groundbased-team
**/b-data-atmosphere        @MeteoSwiss/atmosphere-team
**/c-climate-data           @MeteoSwiss/climate-team
**/d-radar-data             @MeteoSwiss/radar-team
**/e-forecast-data          @MeteoSwiss/forecast-team
