Repository MeteoSwiss/opendata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mchaamsler, @MeteoSwiss/data-stewards, @MeteoSwiss/groundbased-team, @MeteoSwiss/atmosphere-team, @MeteoSwiss/climate-team, @MeteoSwiss/radar-team, @MeteoSwiss/forecast-team

Add translations
  i18n/de/docusaurus-plugin-content-blog/options.json
  i18n/de/docusaurus-plugin-content-docs/current.json
  i18n/de/docusaurus-plugin-content-docs/current/a-data-groundbased/_category_.json
  i18n/de/docusaurus-plugin-content-docs/current/b-data-atmosphere/_category_.json
  i18n/de/docusaurus-plugin-content-docs/current/c-climate-data/_category_.json
  i18n/de/docusaurus-plugin-content-docs/current/d-radar-data/_category_.json
  i18n/de/docusaurus-plugin-content-docs/current/e-forecast-data/_category_.json
  i18n/de/docusaurus-plugin-content-docs/current/general/_category_.json
  i18n/fr/docusaurus-plugin-content-blog/options.json
  i18n/fr/docusaurus-plugin-content-docs/current.json
  i18n/fr/docusaurus-plugin-content-docs/current/a-data-groundbased/_category_.json
  i18n/fr/docusaurus-plugin-content-docs/current/b-data-atmosphere/_category_.json
  i18n/fr/docusaurus-plugin-content-docs/current/c-climate-data/_category_.json
  i18n/fr/docusaurus-plugin-content-docs/current/d-radar-data/_category_.json
  i18n/fr/docusaurus-plugin-content-docs/current/e-forecast-data/_category_.json
  i18n/it/docusaurus-plugin-content-blog/options.json
  i18n/it/docusaurus-plugin-content-docs/current.json
  i18n/it/docusaurus-plugin-content-docs/current/a-data-groundbased/_category_.json
  i18n/it/docusaurus-plugin-content-docs/current/b-data-atmosphere/_category_.json
  i18n/it/docusaurus-plugin-content-docs/current/c-climate-data/_category_.json
  i18n/it/docusaurus-plugin-content-docs/current/d-radar-data/_category_.json
  i18n/it/docusaurus-plugin-content-docs/current/e-forecast-data/_category_.json
  i18n/it/docusaurus-plugin-content-docs/current/general/_category_.json
Owners: @mchaamsler, @MeteoSwiss/data-stewards, @MeteoSwiss/groundbased-team, @MeteoSwiss/atmosphere-team, @MeteoSwiss/climate-team, @MeteoSwiss/radar-team, @MeteoSwiss/forecast-team

Update current.json
  i18n/it/docusaurus-plugin-content-docs/current.json
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update index.mdx
  i18n/it/docusaurus-plugin-content-docs/current/b-data-atmosphere/index.mdx
Owners: @MeteoSwiss/atmosphere-team

Update index.mdx
  i18n/it/docusaurus-plugin-content-docs/current/a-data-groundbased/index.mdx
Owners: @MeteoSwiss/groundbased-team

Update index.mdx
  i18n/it/docusaurus-plugin-content-docs/current/c-climate-data/index.mdx
Owners: @MeteoSwiss/climate-team

Update index.mdx
  i18n/it/docusaurus-plugin-content-docs/current/d-radar-data/index.mdx
Owners: @MeteoSwiss/radar-team

Update index.mdx
  i18n/it/docusaurus-plugin-content-docs/current/e-forecast-data/index.mdx
Owners: @MeteoSwiss/forecast-team

Update custom.css
  src/css/custom.css
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update index.mdx
  i18n/fr/docusaurus-plugin-content-docs/current/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update index.mdx
  i18n/de/docusaurus-plugin-content-docs/current/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update index.mdx
  i18n/it/docusaurus-plugin-content-docs/current/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update index.mdx
  i18n/de/docusaurus-plugin-content-docs/current/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update index.mdx
  i18n/fr/docusaurus-plugin-content-docs/current/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update terms-of-use.md
  i18n/de/docusaurus-plugin-content-docs/current/general/terms-of-use.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update terms-of-use.md
  i18n/fr/docusaurus-plugin-content-docs/current/general/terms-of-use.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update terms-of-use.md
  i18n/it/docusaurus-plugin-content-docs/current/general/terms-of-use.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update terms-of-use.md
  docs/general/terms-of-use.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update download.md
  docs/general/download.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update terms-of-use.md
  i18n/de/docusaurus-plugin-content-docs/current/general/terms-of-use.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update download.md
  i18n/de/docusaurus-plugin-content-docs/current/general/download.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update download.md
  i18n/fr/docusaurus-plugin-content-docs/current/general/download.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update download.md
  i18n/it/docusaurus-plugin-content-docs/current/general/download.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update terms-of-use.md
  i18n/it/docusaurus-plugin-content-docs/current/general/terms-of-use.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update a1-automatic-weather-stations.md
  i18n/it/docusaurus-plugin-content-docs/current/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  i18n/fr/docusaurus-plugin-content-docs/current/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  i18n/de/docusaurus-plugin-content-docs/current/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  i18n/de/docusaurus-plugin-content-docs/current/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  i18n/fr/docusaurus-plugin-content-docs/current/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  i18n/it/docusaurus-plugin-content-docs/current/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a2-automatic-precipitation-stations.md
  docs/a-data-groundbased/a2-automatic-precipitation-stations.md
Owners: @MeteoSwiss/groundbased-team

Update b2-ralmo.md
  docs/b-data-atmosphere/b2-ralmo.md
Owners: @MeteoSwiss/atmosphere-team

Update a7-pollen-stations.md
  docs/a-data-groundbased/a7-pollen-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a5-manual-precipitation-stations.md
  docs/a-data-groundbased/a5-manual-precipitation-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a4-automatic-soil-stations.md
  docs/a-data-groundbased/a4-automatic-soil-stations.md
Owners: @MeteoSwiss/groundbased-team

Add warnings for not realized datasets
  docs/b-data-atmosphere/b3-lidar-ceilometer-chm15k.md
  docs/b-data-atmosphere/b4-ozone-measurements-total-column.md
  docs/d-radar-data/d2-reflectivity-based-radar-products.md
  docs/d-radar-data/d3-hail-radar-products.md
  docs/d-radar-data/d4-convection-radar-products.md
  docs/d-radar-data/d5-polar-3d-radar-products.md
  i18n/de/docusaurus-plugin-content-docs/current/a-data-groundbased/a4-automatic-soil-stations.md
  i18n/de/docusaurus-plugin-content-docs/current/b-data-atmosphere/b2-ralmo.md
  i18n/de/docusaurus-plugin-content-docs/current/b-data-atmosphere/b3-lidar-ceilometer-chm15k.md
  i18n/de/docusaurus-plugin-content-docs/current/b-data-atmosphere/b4-ozone-measurements-total-column.md
  i18n/de/docusaurus-plugin-content-docs/current/b-data-atmosphere/b6-sacram.md
  i18n/de/docusaurus-plugin-content-docs/current/d-radar-data/d2-reflectivity-based-radar-products.md
  i18n/de/docusaurus-plugin-content-docs/current/d-radar-data/d3-hail-radar-products.md
  i18n/de/docusaurus-plugin-content-docs/current/d-radar-data/d5-polar-3d-radar-products.md
  i18n/fr/docusaurus-plugin-content-docs/current/a-data-groundbased/a4-automatic-soil-stations.md
  i18n/fr/docusaurus-plugin-content-docs/current/b-data-atmosphere/b2-ralmo.md
  i18n/fr/docusaurus-plugin-content-docs/current/b-data-atmosphere/b3-lidar-ceilometer-chm15k.md
  i18n/fr/docusaurus-plugin-content-docs/current/b-data-atmosphere/b4-ozone-measurements-total-column.md
  i18n/fr/docusaurus-plugin-content-docs/current/b-data-atmosphere/b5-ozone-measurements-profiles.md
  i18n/fr/docusaurus-plugin-content-docs/current/d-radar-data/d2-reflectivity-based-radar-products.md
  i18n/fr/docusaurus-plugin-content-docs/current/d-radar-data/d3-hail-radar-products.md
  i18n/fr/docusaurus-plugin-content-docs/current/d-radar-data/d4-convection-radar-products.md
  i18n/it/docusaurus-plugin-content-docs/current/a-data-groundbased/a4-automatic-soil-stations.md
  i18n/it/docusaurus-plugin-content-docs/current/b-data-atmosphere/b2-ralmo.md
  i18n/it/docusaurus-plugin-content-docs/current/b-data-atmosphere/b3-lidar-ceilometer-chm15k.md
  i18n/it/docusaurus-plugin-content-docs/current/b-data-atmosphere/b4-ozone-measurements-total-column.md
  i18n/it/docusaurus-plugin-content-docs/current/b-data-atmosphere/b5-ozone-measurements-profiles.md
  i18n/it/docusaurus-plugin-content-docs/current/d-radar-data/d2-reflectivity-based-radar-products.md
  i18n/it/docusaurus-plugin-content-docs/current/d-radar-data/d3-hail-radar-products.md
  i18n/it/docusaurus-plugin-content-docs/current/d-radar-data/d4-convection-radar-products.md
  i18n/it/docusaurus-plugin-content-docs/current/d-radar-data/d5-polar-3d-radar-products.md
Owners: @MeteoSwiss/atmosphere-team, @MeteoSwiss/radar-team, @MeteoSwiss/groundbased-team

Update e2-e3-numerical-weather-forecasting-model.md
  docs/e-forecast-data/e2-e3-numerical-weather-forecasting-model.md
Owners: @MeteoSwiss/forecast-team

Fix broken anchors
  docs/a-data-groundbased/a9-phenological-observations.md
  i18n/de/docusaurus-plugin-content-docs/current/a-data-groundbased/a9-phenological-observations.md
  i18n/fr/docusaurus-plugin-content-docs/current/a-data-groundbased/a9-phenological-observations.md
  i18n/it/docusaurus-plugin-content-docs/current/a-data-groundbased/a9-phenological-observations.md
Owners: @MeteoSwiss/groundbased-team

Fix broken anchor
  i18n/de/docusaurus-plugin-content-docs/current/general/download.md
  i18n/fr/docusaurus-plugin-content-docs/current/general/download.md
  i18n/it/docusaurus-plugin-content-docs/current/general/download.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

.github/CODEOWNERS:

*                           @mchaamsler @MeteoSwiss/data-stewards
**/a-data-groundbased       @MeteoSwiss/groundbased-team
**/b-data-atmosphere        @MeteoSwiss/atmosphere-team
**/c-climate-data           @MeteoSwiss/climate-team
**/d-radar-data             @MeteoSwiss/radar-team
**/e-forecast-data          @MeteoSwiss/forecast-team
