Repository MeteoSwiss/opendata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mchaamsler, @MeteoSwiss/data-stewards, @MeteoSwiss/groundbased-team, @MeteoSwiss/atmosphere-team, @MeteoSwiss/climate-team, @MeteoSwiss/radar-team, @MeteoSwiss/forecast-team

Update download.md
  docs/general/download.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update download.md
  docs/general/download.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update download.md
  docs/general/download.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update index.mdx
  docs/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update index.mdx
  docs/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update download.md
  docs/general/download.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update download.md
  docs/general/download.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update index.mdx
  docs/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update index.mdx
  docs/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update index.mdx
  docs/general/index.mdx
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update download.md
  docs/general/download.md
Owners: @mchaamsler, @MeteoSwiss/data-stewards

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update index.mdx
  docs/a-data-groundbased/index.mdx
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update index.mdx
  docs/c-climate-data/index.mdx
Owners: @MeteoSwiss/climate-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update a1-automatic-weather-stations.md
  docs/a-data-groundbased/a1-automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update index.mdx
  docs/a-data-groundbased/index.mdx
Owners: @MeteoSwiss/groundbased-team

Rename a1-automatic-weather-stations.md to automatic-weather-stations.md
  docs/a-data-groundbased/automatic-weather-stations.md
Owners: @MeteoSwiss/groundbased-team

Update and rename a2-automatic-precipitation-stations.md to automatic-precipitation-stations.md
  docs/a-data-groundbased/automatic-precipitation-stations.md
Owners: @MeteoSwiss/groundbased-team

Update _category_.json
  docs/a-data-groundbased/_category_.json
Owners: @MeteoSwiss/groundbased-team

Update and rename a3-automatic-tower-stations.md to automatic-tower-stations.md
  docs/a-data-groundbased/automatic-tower-stations.md
Owners: @MeteoSwiss/groundbased-team

Update and rename a4-automatic-soil-stations.md to automatic-soil-stations.md
  docs/a-data-groundbased/automatic-soil-stations.md
Owners: @MeteoSwiss/groundbased-team

Update and rename a5-manual-precipitation-stations.md to manual-precipitation-stations.md
  docs/a-data-groundbased/manual-precipitation-stations.md
Owners: @MeteoSwiss/groundbased-team

Update and rename a6-totaliser-precipitation-stations.md to totaliser-precipitation-stations.md
  docs/a-data-groundbased/totaliser-precipitation-stations.md
Owners: @MeteoSwiss/groundbased-team

Update and rename a7-pollen-stations.md to pollen-stations.md
  docs/a-data-groundbased/pollen-stations.md
Owners: @MeteoSwiss/groundbased-team

Update and rename a8-meteorological-visual-observations.md to meteorological-visual-observations.md
  docs/a-data-groundbased/meteorological-visual-observations.md
Owners: @MeteoSwiss/groundbased-team

Update and rename a9-phenological-observations.md to phenological-observations.md
  docs/a-data-groundbased/phenological-observations.md
Owners: @MeteoSwiss/groundbased-team

Update index.mdx
  docs/a-data-groundbased/index.mdx
Owners: @MeteoSwiss/groundbased-team

.github/CODEOWNERS:

*                           @mchaamsler @MeteoSwiss/data-stewards
**/a-data-groundbased       @MeteoSwiss/groundbased-team
**/b-data-atmosphere        @MeteoSwiss/atmosphere-team
**/c-climate-data           @MeteoSwiss/climate-team
**/d-radar-data             @MeteoSwiss/radar-team
**/e-forecast-data          @MeteoSwiss/forecast-team
